html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
h2 button {
    margin-left: 2em;
}
.navbar {
    position: relative;
    min-height: 42px;
    height: 42px;
    margin-bottom: 0px;
    margin-left: -20px;
    border: 1px solid transparent;
    border-top: 2px solid #cc0000;
    width:calc(100% + 40px);
}
.navbar-brand {
    position: absolute;
    left: 20px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 20px;
    height: 40px;
}
.form-control{
  height: 30px;
}
.loadingSpinner {
  position: absolute;
  top: 2px;
  right: 50px;
  font-size: 24px;
  color: rgba(0,136,206,0.5);
}
.Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 0px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    height: 30px!important;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.Select-input {
    height: 30px;
    }
.Select-placeholder{
  line-height: 30PX;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 6px;
    font-size: 12px;
}
#app {
  height: 100%;
}
.wrapper {
  height: 100%;
}
.layout {
  height: 100%;
}
.rightCol {
  overflow-y: auto;
}
.error-dialog .modal-header {
  background-color: #F2DEDE;
  color: #A94442;
}
.count-text {
    padding: 6px 12px;
    margin: 20px 0;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin: auto;
}
#browser-wrapper {
  position: relative;
}
#browser-wrapper .fa-spin {
  font-size: 72px;
  color: rgba(0,136,206,0.5);
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 36px);
}
#browser-wrapper .fa-spin.global-spin {
  top: 200px;
  left: calc(50% - 36px);
}
.react-bs-table-no-data {
  height: 128px;
  vertical-align: middle!important;
}
.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.layout > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.leftCol {
  background-color: #eee;
}
.form-horizontal {
  margin-top: 20px;
}
.react-bs-table {
  margin: 0;
}

#table-toolbar {
  margin-top: 20px;
  margin-bottom: 20px;
}
#table-toolbar>ul>li>a {
  padding: 6px 12px;
  background-color: #fff;
}
#table-toolbar>ul>li.active>a {
  background-color: #337ab7;
}
#table-toolbar .nav {
  margin-left: 10px;
  margin-bottom: -15px;
}
#table-toolbar .tab-content.show-panel {
  padding: 30px 10px 10px 10px;
  border: 1px dashed #337ab7;
  border-radius: 4px;
}
#table-toolbar .alert {
  padding: 5px;
  margin-bottom: 0px;
}
#table-toolbar .btnsRow {
  margin-top: 20px;
}
#search-contacts {
  height: 36px;
  margin-top: 10px;
  width: 142px;
}
.pagination .active a {
  background-color: #0088ce!important;
  color:#fff!important;
}
.react-bs-table-container table th {
  border-bottom: none;
}
.form-control::-moz-placeholder {
  font-style: normal;
}
.form-control::-webkit-input-placeholder {
  font-style: normal!important;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover{
  background-color: #0088ce!important;
  background-image:none;
  background-repeat: no-repeat;
  border-color: #0088ce;
  box-shadow:none!important;
  color: #fff;
}
table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
  border-bottom: medium none!important;
  border-top: 0 none;
}
.table-bordered>tbody>tr>td, .table-bordered>thead>tr>th {
  border: 0;
}
.table>tbody>tr>td {
  border-top: 0;
}
.fieldsRow>:nth-child(1) {
  padding-right: 10px;
}
.fieldsRow>:nth-child(2) {
  padding-left: 0px;
  padding-right: 0px;
}
.fieldsRow>:nth-child(3) {
  padding-left: 10px;
  padding-right: 0px;
}
.fieldsRow>:nth-child(4) {
  padding-left: 10px;
}