html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
h2 button {
    margin-left: 2em;
}
.navbar {
    position: relative;
    min-height: 42px;
    height: 42px;
    margin-bottom: 0px;
    margin-left: -20px;
    border: 1px solid transparent;
    border-top: 2px solid #cc0000;
    width:calc(100% + 40px);
}
.navbar-brand {
    position: absolute;
    left: 20px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 20px;
    height: 40px;
}
.form-control{
  height: 30px;
}
.Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 0px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    height: 30px!important;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.Select-input {
    height: 30px;
    }
.Select-placeholder{
  line-height: 30PX;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 6px;
    font-size: 12px;
}
#app {
  height: 100%;
}
.wrapper {
  height: 100%;
}
.layout {
  height: 100%;
}
.rightCol {
  overflow-y: auto;
}
.error-dialog .modal-header {
    background-color: #F2DEDE;
    color: #A94442;
    border-radius: 6px 6px 0 0;
}
.count-text {
    padding: 6px 12px;
    margin: 20px 0;
}
.overlay {
    position: fixed;
    width: 2em;
    height: 2em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin: auto;
}
.overlay:before {
    content: '';
    background: rgba(50, 50, 50, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.layout > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.leftCol {
  background-color: #eee;
}
.form-horizontal {
  margin-top: 20px;
}
.react-bs-table {
  margin: 0;
}

#table-toolbar {
  margin-top: 10px;
  margin-bottom: 20px;
}
#table-toolbar>ul>li>a {
  padding: 6px 12px;
  background-color: #fff;
}
#table-toolbar>ul>li.active>a {
  background-color: #337ab7;
}
#table-toolbar .nav {
  margin-left: 10px;
  margin-bottom: -15px;
}
#table-toolbar .tab-content.show-panel {
  padding: 30px 10px 10px 10px;
  border: 1px dashed #337ab7;
  border-radius: 4px;
}
#table-toolbar .alert {
  padding: 5px;
  margin-bottom: 0px;
}
input[name=field_release]~.Select-menu-outer {
  width: 220px;
}