html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
h2 button {
    margin-left: 2em;
}
#app {
  height: 100%;
}
.wrapper {
  height: 100%;
}
.layout {
  height: 100%;
}
.rightCol {
  overflow-y: auto;
}
.error-dialog .modal-header {
    background-color: #F2DEDE;
    color: #A94442;
    border-radius: 6px 6px 0 0;
}
.count-text {
    padding: 6px 12px;
    margin: 20px 0;
}
.overlay {
    position: fixed;
    width: 2em;
    height: 2em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin: auto;
}
.overlay:before {
    content: '';
    background: rgba(50, 50, 50, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.leftCol {
  background-color: #eee;
}